.video-player-edit-demo {
  /* width: 100%; */
  aspect-ratio: 16/9;
  /* height: 390px; */
  /* border: 1px solid black; */
  position: relative;
  background: #000000;
}

.video-pLayer-children {
  box-sizing: border-box;
  position: absolute;
  display: flex;
}

.video-top {
  top: 0;
  width: 100%;
  height: max-content;
}

.video-top-children {
  width: 33.33%;
  display: flex;
  align-items: flex-start;
}

.video-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-progress {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
}

.video-bottom {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  height: max-content;
}

.settings-demo-box {
  /* z-index: -16; */
  /* display: none; */
  width: 280px;
  /* height: 90px; */
  border-radius: 4px;
  position: absolute;
  bottom: 8.5rem;
  right: 3.8rem;
  overflow: hidden;
  box-shadow: 0 0 20px #02122a80;
}
