.wave-loader {
  background: linear-gradient(90deg, #0001 33%, #0003 50%, #0001 66%) #f2f2f2;
  background-size: 300% 100%;
  animation: l1 2s infinite linear;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}
