.notif-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.notif-button {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.25rem;
}

.notif-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--satoPrimary);
}

.notif-popover {
  position: absolute;
  top: 50px;
  right: 0;
  width: 360px;
  background-color: var(--white);
  border: 1px solid var(--satoStroke);
  border-radius: 0.25rem;
  box-shadow: 4px 4px 10.5px 0 rgba(0, 0, 0, 0.13);
  z-index: 1000;
}

.notif-list {
  padding: 1rem;
  max-height: 72vh;
  overflow-y: auto;
}

.notif-item {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--satoStroke);
  border-radius: 0.25rem;
  cursor: pointer;
}

.notif-item:hover {
  background: var(--satoSurface);
}

.notif-icon {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  flex-shrink: 0;
}

.notif-icon.success {
  background: #dff3c7;
  color: var(--satoPositive);
}

.notif-icon.error {
  background: #ffd8d2;
  color: var(--satoNegative);
}

.notif-icon.warning {
  background: #f7e5a6;
  color: var(--warning);
}

.notif-icon.info {
  background: #d7ebff;
  color: var(--info);
}

.notif-content {
  flex: 1;
}

.notif-top {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.notif-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--satoPrimary);
}

.notif-action-btn {
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--strokeSecondary);
  border-radius: 0.25rem;
  background: var(--white);
  cursor: pointer;
}
