.card-grid {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); */
  /* gap: 1rem; */

  --w: 340px;
  --n: 4;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      clamp(100%/ (var(--n) + 1) + 0.1%, (var(--w) - 100vw) * 1000, 100%),
      1fr
    )
  );
  row-gap: 2.5rem;
  column-gap: 1.5rem;
}

.card {
  background: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* max-width: 24rem; */
  width: 23%;
  flex-shrink: 0;
}

.card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.card-for-grid {
  background: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-for-grid:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.card-thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  cursor: pointer;
  
}

.card-content {
  padding: 1rem;
}

.single-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Or a max-width, or inherited width */
}

@media only screen and (max-width: 1025px) {
  .card-grid {
    --n: 3;
  }
  .card{
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .card-grid {
    --n: 2;
  }
  .card{
    width: 100%;
  }
}

@media only screen and (max-width: 428px) {
  .card-grid {
    --n: 1;
  }
}
