.size-input {
  width: 5.25rem;
  min-height: 0 !important;
  padding: 0.2rem 0.4rem !important;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  font-weight: 500;
  color: #1d1d1d !important;
  border-left: 1px solid !important;
  border-left-color: #d4d4d4 !important;
}

.size-input::placeholder {
  color: #828282 !important;
}
