.video-quota-container {
  width: fit-content;
  max-width: 100%;
  border: 1px solid var(--satoPlaceholder);
  border-radius: 0.25rem;
  overflow: hidden;
  font-size: 1rem;
}

.video-quota-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  color: var(--satoTextSecondary);
}
.video-quota-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.divider {
  color: var(--satoTextPrimary);
}

.upgrade-plan {
  margin-left: auto;
  color: var(--primary);
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 1rem;
}

.video-quota-progress-bar {
  height: 0.25rem;
  background-color: #d5d5d5;
  position: relative;
}

.video-quota-progress-fill {
  height: 100%;
  transition: width 0.3s ease-in-out;
}
