.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  z-index: 10;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.modalContent {
  /* margin-top: 1rem; */
  box-sizing: "border-box";
}
