.plan-details-container {
  border: 1px solid var(--stroke);
  border-radius: 4px;
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.success-container {
  border: 1px solid var(--positive);
  border-radius: 4px;
  padding: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.payment-error-container {
  border: 1px solid var(--negative);
  border-radius: 4px;
  padding: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.address-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-width {
  width: 30%;
}

@media only screen and (max-width: 1590px) {
  .plan-details-container {
    width: 45%;
  }
  .success-container {
    width: 40%;
  }
  .payment-error-container {
    width: 40%;
  }
}

@media only screen and (max-width: 1360px) {
  .plan-details-container {
    width: 60%;
  }
  .success-container {
    width: 60%;
  }
  .payment-error-container {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .plan-details-container {
    width: 100%;
  }
  .success-container {
    width: 100%;
  }
  .payment-error-container {
    width: 100%;
  }
  .address-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .button-width {
    width: 100%;
  }
}
