.pricing-module {
  padding: 2rem;
  border: 1px solid var(--stroke);
  width: max-content;
  border-radius: 2px;
  box-sizing: border-box;
}

.plan-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .pricing-module {
    width: 100%;
  }
  .plan-header-container {
    flex-direction: column;
    gap: 1rem;
  }
}
