.toggle-container {
  position: relative;
  display: inline-block;
  width: 2.75rem;
  height: 1.3rem;
}

.toggle-button {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-circle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  transition: 0.3s;
  border-radius: 2rem;
}

strong {
  position: absolute;
  left: 100%;
  width: max-content;
  height: 100%;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.toggle-circle:before {
  position: absolute;
  /* margin: 0 2px; */
  content: "";
  height: 0.85rem;
  width: 0.85rem;
  top: 50%;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.3s;
  transform: translate(20%, -50%);
}

.toggle-button:checked + .toggle-circle:before {
  /* background-color: var(--primary); */
  background-color: #ffffff;
}

.toggle-button:checked + .toggle-circle {
  /* border: 1px solid var(--primary); */
  background-color: var(--primary);
}

.toggle-button:checked + .toggle-circle:before {
  transform: translate(200%, -50%);
}
