:root {
  --satoPrimary: #fe6244;
  --primaryHover: #fe2a01;
  --wp-components-color-accent: #fe6244;
  --wp-components-color-accent-darker-10: #fe2a01;
  --wp-components-color-accent-darker-20: #d82600;
  --wp-admin-theme-color: #fe6244;
  --wp-admin-theme-color-darker-10: #fe2a01;
  --wp-admin-theme-color-darker-20: #d82600;
  --wpds-color-fg-interactive-brand: #fe2a01;

  --primaryVariantOne: #f1e9fc;
  --primaryVariantTwo: #fcfaff;
  --satoTextPrimary: #1d1d1d;
  --satoTextSecondary: #585858;
  --satoPlaceholder: #808080;
  --black: #000000;
  --white: #ffffff;
  --satoSurface: #f9f9f9;
  --surfaceVariant: #fafafa;
  --satoStroke: #f0f0f0;
  --strokeSecondary: #cdd4df;
  --satoDisabled: #cdd4df;
  --satoPositive: #20ac25;
  --satoNegative: #f86666;
  --user-icon: #45474b;
}

.sato-player p {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Satoshi-Variable";
  src:
    url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src:
    url("./fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("./fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("./fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Light";
  src:
    url("./fonts/Satoshi-Light.woff2") format("woff2"),
    url("./fonts/Satoshi-Light.woff") format("woff"),
    url("./fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src:
    url("./fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("./fonts/Satoshi-LightItalic.woff") format("woff"),
    url("./fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src:
    url("./fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./fonts/Satoshi-Regular.woff") format("woff"),
    url("./fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src:
    url("./fonts/Satoshi-Italic.woff2") format("woff2"),
    url("./fonts/Satoshi-Italic.woff") format("woff"),
    url("./fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src:
    url("./fonts/Satoshi-Medium.woff2") format("woff2"),
    url("./fonts/Satoshi-Medium.woff") format("woff"),
    url("./fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src:
    url("./fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("./fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("./fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src:
    url("./fonts/Satoshi-Bold.woff2") format("woff2"),
    url("./fonts/Satoshi-Bold.woff") format("woff"),
    url("./fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src:
    url("./fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("./fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("./fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src:
    url("./fonts/Satoshi-Black.woff2") format("woff2"),
    url("./fonts/Satoshi-Black.woff") format("woff"),
    url("./fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src:
    url("./fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("./fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("./fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Satoshi-Medium";
  line-height: 1.225rem;
}

.sato-hide-scroll {
  -ms-overflow-style: none;
}

.sato-hide-scroll::-webkit-scrollbar {
  display: none;
}

.sato-hide-scroll ::-moz-scrollbar {
  display: none;
}

.satoPrimary {
  color: var(--satoPrimary);
}

.satoTextPrimary {
  color: var(--satoTextPrimary);
}

.satoTextSecondary {
  color: var(--satoTextSecondary);
}
.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.satoSurface {
  color: var(--satoSurface);
}

.satoStroke {
  color: var(--satoStroke);
}

.satoPlaceholder {
  color: var(--satoPlaceholder);
}

.satoPositive {
  color: var(--satoPositive);
}

.satoNegative {
  color: var(--satoNegative);
}

.satoHeading {
  font-size: 2rem;
  line-height: 120%;
  font-family: "Satoshi-Medium";
  color: var(--satoTextPrimary);
}

.satoSubtitle-one {
  font-size: 1.5rem;
  line-height: 120%;
  font-family: "Satoshi-Medium";
  color: var(--satoTextPrimary);
}

.satoSubtitle-two {
  font-size: 1.25rem;
  line-height: 120%;
  font-family: "Satoshi-Medium";
  color: var(--satoTextPrimary);
}

.satoSubtitle-three {
  font-size: 1rem;
  line-height: 120%;
  font-family: "Satoshi-Medium";
  color: var(--satoTextPrimary);
}

.satoBody {
  font-size: 0.8125rem;
  line-height: 120%;
  font-family: "Satoshi-Regular";
}

.satoLabel {
  font-size: 0.875rem;
  color: var(--satoTextSecondary);
  line-height: 120%;
  font-family: "Satoshi-Medium";
}

.table-row-text {
  font-size: 0.8125rem;
  color: var(--satoTextPrimary);
  line-height: 120%;
  font-family: "Satoshi-Regular";
}

.sato-action-icon {
  font-size: 20px;
  cursor: pointer;
}
.sato-action-icon:hover {
  color: var(--primaryHover);
}

.satoCaption {
  font-size: 0.75rem;
  line-height: 120%;
  font-family: "Satoshi-Medium";
}
.m-icon:hover {
  color: var(--primaryHover);
  transition: all 0.4s ease-in-out;
}

.m-icon:focus {
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus, 1.5px)
    var(--primaryHover) !important;
  color: var(--primaryHover);
}

.sato-link {
  font-size: 0.875rem;
  color: var(--satoPrimary);
  line-height: 120%;
  font-family: "Satoshi-Medium";
}

.sato-link:hover {
  color: var(--primaryHover);
  transition: all 0.4s ease-in-out;
}

.sato-link:focus {
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus, 1.5px)
    var(--primaryHover) !important;
  color: var(--primaryHover);
}

.sato-link-active {
  font-size: 0.875rem;
  color: var(--satoPrimary);
  line-height: 120%;
  font-family: "Satoshi-Regular";
}

.large-primary-btn {
  padding: 0.5rem 1rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  border: 0px solid var(--satoPrimary);
  background: var(--satoPrimary);
  color: var(--white);
  font-size: 0.875rem;
  font-family: "Satoshi-Medium";
  cursor: pointer;
  line-height: 120%;
}

.large-primary-btn:hover {
  background: var(--primaryHover);
  transition: all 0.4s ease-in-out;
}

.large-primary-btn:disabled {
  background: var(--satoDisabled);
  cursor: not-allowed;
}

.large-secondary-btn {
  padding: 0.5rem 1rem;
  height: 2.75rem;
  color: var(--satoTextSecondary);
  background-color: var(--white);
  border-radius: 0.25rem;
  border: 1px solid var(--satoPrimary);
  font-size: 0.875rem;
  font-family: "Satoshi-Medium";
  cursor: pointer;
  line-height: 120%;
}

.large-secondary-btn:hover {
  background-color: var(--surfaceVariant);
  transition: all 0.4s ease-in-out;
}

.large-secondary-btn:disabled {
  border: 1px solid #d5d5d5;
  color: #d5d5d5;
  cursor: not-allowed;
}
.large-danger-btn {
  padding: 0.5rem 1rem;
  height: 2.75rem;
  color: var(--satoNegative);
  background-color: var(--white);
  border-radius: 0.25rem;
  border: 1px solid var(--satoNegative);
  font-size: 0.875rem;
  font-family: "Satoshi-Medium";
  cursor: pointer;
  line-height: 120%;
}

.large-danger-btn:hover {
  background-color: var(--satoNegative);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

.large-danger-btn:disabled {
  color: var(--satoPlaceholder);
  border-color: var(--surfaceVariantOne);
  cursor: not-allowed;
  opacity: 0.6;
}

.satoInput-container {
  width: 17rem;
  position: relative;
  border-radius: 0.25rem;
}

.satoInput-main {
  width: 17rem;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: var(--satoSurface);
  outline: none;
  border: 1px solid;
  border-color: var(--satoStroke);
  box-sizing: border-box;
  font-family: "Satoshi-Regular";
}

.satoInput-main::placeholder {
  color: var(--satoPlaceholder);
}

.satoInput-main:focus {
  border-color: var(--satoPrimary) !important;
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus, 1.5px) var(--satoPrimary) !important;
}

.satoInput-secondary {
  box-sizing: border-box;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.25rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  background-color: var(--white);
  outline: none;
  border: 1px solid;
  border-color: var(--satoStroke);
  font-family: "Satoshi-Regular";
}

.satoInput-secondary::placeholder {
  color: var(--satoPlaceholder);
}

.satoInput-secondary:disabled {
  background-color: var(--satoSurface);
  border-color: var(--satoSurface);
}
.satoInput-secondary:focus {
  border-color: var(--satoPrimary) !important;
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus, 1.5px) var(--satoPrimary) !important;
}

.satoInput-title {
  display: block;
  color: var(--satoTextSecondary);
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.notnow-btn {
  background: transparent;
  color: var(--satoNegative);
  font-size: 0.8125rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-create-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth-container {
  height: calc(100vh - 97px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.auth-form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  width: 25rem;
}

.auth-header {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.detail-main {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.detail-sub-container-1 {
  box-sizing: border-box;
  width: 35%;
  overflow-y: scroll;
  height: calc(100vh - 98px);
  background-color: #fafafa;
}

.toolkit-form {
  padding: 0 1rem;
}

.detail-sub-container-2 {
  box-sizing: border-box;
  width: 65%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 98px);
  overflow-y: scroll;
}

.upload-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-grow: 1;
}

.detail-sub-container-child {
  box-sizing: border-box;
  padding-right: 8rem;
  width: 100%;
  height: 100%;
}

.v-p-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
}

.video-table {
  width: 100%;
  border-collapse: collapse;
}

.video-table th,
.video-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.video-table th {
  background: #f5f5f5;
  font-weight: 600;
}

.sato-dataview-cell {
  padding: 0rem 0.25rem;
}

.satoProfile-box {
  margin-top: 1rem;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--surfaceVariant);
  outline: none;
  border: 1px solid;
  border-color: var(--satoStroke);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  row-gap: 1rem;
  box-sizing: border-box;
}

.satoPlan-list {
  width: 100%;
  background-color: var(--surfaceVariant);
  border: 1px solid;
  border-color: var(--satoStroke);
  border-radius: 0.5rem;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
  margin-top: 1.25rem;
}

.satoPlan-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; /* Allows stacking on small screens */
}

.satoPlan-details {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.dot {
  color: #666;
  margin: 0 4px;
}

@media only screen and (max-width: 1590px) {
  .satoHeading {
    font-size: 1.5rem;
  }
  .satoSubtitle-one {
    font-size: 1.25rem;
  }
  .satoSubtitle-two {
    font-size: 1.125rem;
  }
  .satoLabel {
    font-size: 0.75rem;
    font-family: "Satoshi-Regular";
    color: var(--satoPlaceholder);
    line-height: 1.225rem;
  }
  .satoCaption {
    font-size: 0.625rem;
  }
  .satoBody {
    font-size: 0.8125rem;
  }
  .large-primary-btn {
    padding: 0.5rem 1rem;
    height: 2.75rem;
  }
  .large-secondary-btn {
    padding: 0.5rem 1rem;
    height: 2.75rem;
  }
  .large-danger-btn {
    padding: 0.5rem 1rem;
    height: 2.75rem;
  }
  .satoInput-main {
    padding: 0.5rem 1rem;
    height: 2.75rem;
  }
  .satoInput-secondary {
    height: 2.75rem;
  }
  .detail-sub-container-2 {
    width: 75%;
    box-sizing: border-box;
  }
  .detail-sub-container-1 {
    width: 25%;
  }
  .detail-sub-container-child {
    padding: 0 3rem 0 0;
  }
}

@media only screen and (max-width: 1360px) {
  .detail-sub-container-2 {
    width: 65%;
    box-sizing: border-box;
    align-items: center;
  }
  .detail-sub-container-1 {
    width: 35%;
  }
}

@media only screen and (max-width: 1025px) {
  .sato-hide-scroll {
    flex-wrap: wrap;
  }
  .detail-main {
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }
  .detail-container {
    width: 100%;
    display: block;
    overflow: scroll;
  }
  .detail-sub-container-1 {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border: none;
    align-items: center;
  }
  .toolkit-form {
    padding: 0;
  }
  .detail-sub-container-2 {
    width: 100%;
    height: auto;
  }
  .detail-sub-container-child {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .plan-description-wrapper p {
    text-align: center;
  }
  .satoPlan-details {
    display: block;
  }
  .satoPlan-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-create-container {
    flex-direction: column;
  }
  .upload-container {
    flex-direction: column;
  }
  .w-100 {
    width: 100%;
  }
  .w-100 .satoInput-main {
    width: 100%;
  }
  .w-100 .m-100 {
    width: 100%;
  }
  .v-p-container {
    padding: 0;
  }
}

@media only screen and (max-width: 528px) {
  .large-primary-btn {
    font-size: 0.8125rem;
  }
  .large-secondary-btn {
    font-size: 0.8125rem;
  }
}
